@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Book"), local("UniSansBook"),
    url("/fonts/UniSansBook.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Bold Italic"), local("UniSansBoldItalic"),
    url("/fonts/UniSansBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Bold"), local("UniSansBold"),
    url("/fonts/UniSansBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Regular"), local("UniSansRegular"),
    url("/fonts/UniSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Regular Italic"), local("UniSansRegularItalic"),
    url("/fonts/UniSansRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Heavy Italic"), local("UniSansHeavyItalic"),
    url("/fonts/UniSansHeavyItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Heavy"), local("UniSansHeavy"),
    url("/fonts/UniSansHeavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Light"), local("UniSansLight"),
    url("/fonts/UniSansLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Book Italic"), local("UniSansBookItalic"),
    url("/fonts/UniSansBookItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans SemiBold"), local("UniSansSemiBold"),
    url("/fonts/UniSansSemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Thin Italic"), local("UniSansThinItalic"),
    url("/fonts/UniSansThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans Light Italic"), local("UniSansLightItalic"),
    url("/fonts/UniSansLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Uni Sans";
  src: local("Uni Sans SemiBold Italic"), local("UniSansSemiBoldItalic"),
    url("/fonts/UniSansSemiBoldItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
